<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HorseRacingSqlServerConnectionString" value="db connection goes here for manual access rather than via Web-API" />
  </appSettings>
</configuration>